{
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow:hidden

}


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.05);
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 0.85em;
  line-height: 1.65em;
  color: #383838;
  width: 100%;
  padding: 20px;

}

h1 {
	margin-top:10px;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
	font-size: 2.5em
}
h2 {
	margin-top: -15px;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
	font-size: 1.2em
}

.columns {
  display: flex;
  flex-direction: row;
}

.column {
  padding: 0;
}

.left {
  width: 60%;
}

.right {
  width: 40%;
	text-align: center;
}

@media screen and (max-width: 768px) {
  .columns {
    flex-direction: column;
  }

  .left, .right {
    width: 90%;
	
  }
}

#myBtn {
  width: 180px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #383838;
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-decoration: none; /* This is to remove underline from link */
  display: inline-block; /* This is to keep button-like appearance */
  border-radius: 20px; /* This makes the corners rounded */
	
}

#myBtn:hover {
  background: #fff;
  color: black;
	
}@charset "UTF-8";
/* CSS Document */

button:hover {
  background-color: #fff; 
	cursor: pointer;
}
.back-button {
  border: none;
  background-color: transparent;
  color: #666;
	cursor: pointer;
}
.back-button:hover {
	background-color: #E1E1E1; 
}


.my-class, .my-class::before {
  content: " ";
 margin: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin:-10;
  transition: all 0s;
	background-color: transparent;
	cursor: pointer;
 
}

.my-class::before {
  animation: mymove 2s infinite;
  position: absolute;
  background-color:  rgba(192,177,28,0.7);
	
}

@-webkit-keyframes mymove {
  50%   {
    transform: scale(2);
    opacity: 0
  }
  100%   {
    transform: scale(2);
    opacity: 0
  }
}


